.todoContainer {
width: 100%;
max-width: 600px; 
margin: 0 auto;
}

.todos {
  display: flex;             
  flex-direction: column;    
  align-items: center;       
  font-size: 20px;
  font-weight: 500;
  max-height: 500px;
  overflow-y: auto;
  gap: 10px;                 
}

